<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liushiqi.blogmain.mapper.PostMapper">

    <!-- 根据分类ID查询分类ID -->
    <select id="countCategoriesByIds" resultType="java.lang.Integer">
        select count(*) from categories where id in
        (<foreach collection="categoryIds" item="id" separator=",">
        #{id}
    </foreach>)
    </select>

    <!-- 发布文章 -->
    <insert id="insert" useGeneratedKeys="true" parameterType="com.liushiqi.blogmain.entity.Posts"
            keyProperty="id">
        insert into posts (title,summary,content,is_deleted,author_id,status)
        values (#{title},#{summary},#{content},#{isDeleted},#{authorId},#{status})
    </insert>

    <!-- 插入文章分类 -->
    <insert id="insertCategories">
        insert into post_categories (post_id, category_id) values
         <foreach collection="categoryIds" item="category_id" separator=",">
        (#{postId},#{category_id})
    </foreach>
    </insert>

    <!--删除文章 -->
    <update id="deleteById" parameterType="java.lang.Long">
        update posts set is_deleted=1 where id=#{id} and is_deleted=0
    </update>

    <!--获取文章总数 -->
    <select id="getTotal" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from posts
        <where>
            p.is_deleted=0
            <if test="status!=null and status!=''" >and status=#{status}</if>
        </where>
    </select>

    <!--获取文章分页列表 -->
    <select id="findPage" resultType="com.liushiqi.blogmain.vo.PageVo">
        select p.id,p.title,p.summary,u.username authorName,p.status,p.create_time from posts p
            join users u on author_id=u.id
        <where>
        p.is_deleted=0
        <if test="status!=null and status!=''">and p.status=#{status}</if>
        </where>
        order by p.create_time desc limit #{page},#{size}
    </select>
</mapper>